name: Publish to live

on:
  workflow_dispatch:

jobs:
  push-to-live:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: staging
          fetch-depth: 0
      - run: |
          git push origin origin/staging:master

